// footer portion

	footer {
		background: $black;
		padding: 20px;
		.wrapper {
            display: flex;
		    justify-content: center;
        }
		.logo {
			margin: 0;
		}
		.icons {
			display: flex;
			flex-direction: row;
		}
		a {
			text-decoration: none;
			color: $peach;
			font-size: 3rem;
			padding: 20px;

		}
	}